@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #A28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819857; 
  --color-brand-light: #cfcfbc;
  }



/* Base */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}
.container{
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}



/* Button */
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 16px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-normal);
  background-color: transparent;
}



/* Link */
.link {
  color: var(--color-primary-light);
  line-height: 1.5;
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-dark);
  font-weight: 600;
}



/* Header */
.header {
  background-color: rgb(130, 129, 110);
}
.header-container {
  display:flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
  }



/*Hero section*/
.hero-section {
  padding: 272px 0;
  background-image: url(/images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand-normal);
}



/*Advantages section*/
.adventages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
   display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantage-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}



/*Section title*/
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;

}
.section-title .accent {
  color: var(--color-brand-dark);
}



/* Traditions section */
.traditions-sections {
  padding-top: 96px;
}

.traditions-container {
  display:flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}

.traditions-title{
  margin-bottom: 42px;
}
.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
  color: var(--color-brand-normal);
}

.traditions-text .limited {
  max-width: 340px;
}



/* Chef sections */
.chefs-title {
  margin:0 auto 80px;
  max-width: 520px;
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-title::before {
  display: block;
  width: 352px;
  height: 2px;
  border-top: 4px solid var(--color-brand-light);
  content: '';
}
.chefs-title::after {
   display: block;
  width: 352px;
  height: 2px;
  border-top: 4px solid var(--color-brand-light);
  content: '';
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}



/* Formats section */
.formats-list {
  display: flex;
  gap: 20px;
}
.format-item {
  flex-basis: calc(100%/3);
}
.format-card {
  height: 444px;
padding: 24px;
background-image: linear-gradient(
  180deg,
 rgba(49, 38, 26, 0)55.21%,
  rgba(49, 38, 26, 0.71) 72.912%,
   var(--color-primary-dark) 100%
   );
border: 1px solid lightgray;     /*remove*/
border-radius: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.formats-title {
  margin-bottom: 80px;
}
.format-title {
  font-size: 40px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;


}
  /* Contact section */
  .contact-title {
    margin-bottom: 32px;
  }



/* Footer */
.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  front-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url(/images/footer-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
background-size: cover;
 
}